= simple_form_for [:user, @picture],html: {multipart: true} do |f|
	- if @picture.errors.any?
		#errors
			%h2
			= pluralize(@picture.errors.count, 'error')
			prevented this picture from saving
			%ul
				- @picture.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		= f.file_field :image
	.form-group
		= f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true }, input_html: { class: 'form-control' }
	.form-group
		= f.input :tag_list
	
	= f.button :submit, class: "btn btn-primary"