-# .picture	
-# 	.col-lg-9
-# 		%p
-# 		= link_to "Add a Picture", new_user_picture_url(current_user)
-# 		= link_to "Advanced Search", new_search_path
-# 		.picture
-# 			%h1
-# 				= link_to picture.title, user_picture_url(current_user, picture) 
-# 			%p
-# 			Caregory:
-# 			= link_to picture.category.name, picture.category
-# 			%p
-# 			= image_tag picture.image_url(:thumb) if picture.image?
-# 			%p 
-# 				Tags: #{ raw picture.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') }
-# 			.actions
-# 				= link_to "edit", edit_user_picture_path(current_user, picture)
-# 				= link_to "remove", user_picture_url(current_user, picture) , data: { confirm: 'Are you sure?' }, :method => :	delete

-# .picture
-# 	%h2= link_to picture.title
-# 	.details
-# 	- if product.category
-# 	| Category: #{picture.category.name}

.product
	%h2= link_to picture.title
	.details
		- if picture.category
			| Category: #{picture.category.name}

