.col-lg-9
	%p
	= link_to "Add a Picture", new_user_picture_url(current_user)
	= link_to "Advanced Search", new_search_path

	- @pictures.each do |picture|
		.picture
			%h1
				= link_to picture.title, user_picture_url(current_user, picture) 
			%p
			Caregory:
			=  picture.category.name if picture.category.present?
			%p
			= image_tag picture.image_url(:thumb) if picture.image?
			%p 
				Tags: #{ raw picture.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') }
			.actions
				= link_to "edit", edit_user_picture_path(current_user, picture)
				= link_to "remove", user_picture_url(current_user, picture) , data: { confirm: 'Are you sure?' }, :method => :delete

	-# %ol.carousel-indicators

	-# 	- current_user.pictures.each_with_index do |photo, n|
	-# 		%li.if.n{:class => "\#{'active' == 0}", "data-slide-to" => "\#{n}", "data-target" => "#MyCarousel"}
	-# .carousel-inner{:role => "listbox"}
	-# 	.item.active
	-# 		= image_tag current_user.pictures.first.image_url
	-# 	- current_user.pictures.drop(1).each do |photo|
	-# 		.item
	-# 			= image_tag photo.image_url
	-# - arr = []
	-# 	- current_user.pictures.each do |pic|
	-# 	- arr<<pic.image_url
	-# = carousel_for(arr)
