%h1= @picture.title
%p
Submited by
= @picture.user.nickname

%br/
= link_to 'Back', user_pictures_url
= link_to 'Edit', edit_user_picture_path
= link_to 'Delete', user_picture_url, method: :delete, data: { confirm: 'Are you sure?' }