.col-lg-3
  .well.sidebar-nav
    %h3 Sidebar
    %ul.nav.nav-list
      = form_for @search do |f|
        .field
          = f.label :category_id
          %br/
          = f.collection_select(:category_id, Category.order(:name), :id, :name, {:include_blank => true})
        .field
          = f.label :tag_id
          %br/
          -# = select_tag 'tags', options_for_select(@tags.collect{ |u| [u.name, u.id] }), multiple: true
          = f.collection_select(:tag_id, Picture.all.tag_counts, :id, :name, {:include_blank => true})

          \-
      
        .actions= f.submit "Search"

-# :include_hidden => true
-# , { :multiple => true }