= simple_form_for @post, html: {multipart: true} do |f|
	- if @post.errors.any?
		#errors
			%h2
			= pluralize(@post.errors.count, 'error')
			prevented this Post from saving
			%ul
				- @post.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		= f.input :description, input_html: { class: 'form-control' }

	.form_group
		= f.label  'Public'
		= f.radio_button :published, true, :value => true
		= f.label  'Private'
		= f.radio_button :published, false, :value => false

	
	= f.button :submit, class: "btn btn-primary"