%h1= @post.title
%p= @post.description
%p
Submited by
= @post.user.nickname

%br/
= link_to 'Back', root_path
= link_to 'Edit', edit_post_path
= link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }