= simple_form_for @category, html: {multipart: true} do |f|
	- if @category.errors.any?
		#errors
			%h2
			= pluralize(@category.errors.count, 'error')
			prevented this category from saving
			%ul
				- @category.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.input :name, input_html: { class: 'form-control' }
	.form-group
		= f.label :parent_id
		%p
			= f.collection_select :parent_id, @categories, :id, :name, { include_blank: true }, input_html: { class: 'form-control' }
	
	= f.button :submit, class: "btn btn-primary"