%h1= t('.title')
.buttons_panel
  = link_to 'New Category', new_category_path, class: 'btn btn-outline-primary btn-sm'
%section#categories
  %table.table
    %thead
      %tr
        %th #
        %th Name
        %th Parent category
        %th
    %tbody
      - @categories.each_with_index do |category, index|
        %tr
          %td= index + 1
          %td= category.name
          %td= category.parent.name if category.parent.present?
          %td
            = link_to 'Edit', edit_category_path(category), class: 'btn btn-outline-primary btn-sm'
            = link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
